<%- include("partials/header.ejs") -%>
<!-- 
<h1>home</h1>
<p></p> 
-->

<% content.forEach(function (post) { %>
    
<h2><%= post.postTitle %></h2>

<p><%= post.postContent.substring(0, 150) %> ... <a href="post/<%= post._id %>">Read More</a></p>


<% }) %> 

<%- include("partials/footer.ejs") -%>
